<nav class="navbar is-dark is-fixed-top">
  <!-- logo -->
  <div class="navbar-brand">
    <a class="navbar-item">
      <img width="100" src="assets/marvel-logo.svg" />
    </a>
  </div>
  <!-- menu -->
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="">Home</a>
      <a class="navbar-item" routerLink="characters">Characters</a>
      <a class="navbar-item" routerLink="comics">Comics</a>
      <a class="navbar-item" routerLink="events">Events</a>
      <a class="navbar-item" routerLink="creators">Creators</a>
      <a class="navbar-item" routerLink="series">Series</a>
      <a class="navbar-item" routerLink="stories">Stories</a>
    </div>
  </div>
</nav>
